/*------------------------------------*\
    TEXT AND CARD
\*------------------------------------*/

@use "pkg:@scottish-government/design-system/src/base/helpers/" as ds_helpers;

.ds_pb--card-text {
    @include ds_helpers.ds_responsive-padding(4, top);
    @include ds_helpers.ds_responsive-padding(4, bottom);

    .ds_pb__text {

        // All heading links are underlined as default in page blocks
        h1,
        h2,
        h3,
        h4 {
            a:not(:hover):not(:focus) {
                text-decoration: underline;
            }
        }

        @include ds_helpers.ds_media-query(medium) {
            grid-column: span 6;
        }

        @include ds_helpers.ds_media-query(large) {
            grid-column: span 8;
        }
    }

    .ds_pb__card {

        @include ds_helpers.ds_media-query(medium) {
            grid-column: span 6;
        }

        @include ds_helpers.ds_media-query(large) {
             grid-column: span 4;
        }
    }
}