/*------------------------------------*\
    VIDEO
\*------------------------------------*/

@use "pkg:@scottish-government/design-system/src/base/helpers/" as ds_helpers;
@use "pkg:@scottish-government/design-system/src/base/settings/" as ds_settings;

.ds_pb--video-text {

    // All heading links are underlined as default in page blocks
    h1,
    h2,
    h3,
    h4 {
        a:not(:hover):not(:focus) {
            text-decoration: underline;
        }
    }

    @include ds_helpers.ds_responsive-padding(4, top);
    @include ds_helpers.ds_responsive-padding(4, bottom);

    @include ds_helpers.ds_media-query(medium-down) {
        .ds_pb__poster {
            @include ds_helpers.ds_responsive-margin(4, top);
            grid-area: 2/1/3/1;
        }
        .ds_pb__text {
            grid-area: 1/1/2/1;
            margin-top: 0;
        }
    }

    @include ds_helpers.ds_media-query(medium) {
        &--center {
            .ds_pb__poster,
            .ds_pb__text {
                align-self: center;
            }  
        }
    }

    .ds_pb__poster {
        // experimental video "play" overlay

        text-align: right;

        &__link {
            display: inline-block;
            position: relative;
            vertical-align: top;

            &:has(.ds_pb__poster__overlay):focus,
            &:has(.ds_pb__poster__overlay):hover {
                box-shadow: none;
                outline: 0;
            }

            .ds_pb__poster__overlay {
                .background {
                    fill: ds_settings.$ds_colour__button__background;
                    transition: fill 0.2s;
                }

                .foreground {
                    fill: ds_settings.$ds_colour__button;
                }
            }

            &:hover {
                .ds_pb__poster__overlay {
                    .background {
                        fill: ds_settings.$ds_colour__button--hover__background;
                    }
                }
            }

            &:focus,
            &:active {
                .ds_pb__poster__overlay {
                    .background {
                        fill: ds_settings.$ds_colour__button--focus__background;
                        transition-duration: 0s;
                    }

                    .foreground {
                        fill: ds_settings.$ds_colour__button--focus;
                    }
                }
            }
        }

        &:first-of-type {
            text-align: left;
        }

        &__overlay {
            height: 100%;
            position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            width: 100%;
        }

    }

}